<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="__TEXT[DESCRIPT]">
    <meta name="keywords" content="__TEXT[KEYWORDS]">
    <title>支付</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/payment.css">
    <script type="text/javascript" charset="utf-8"  src="../../js/jquery.min.js"></script>
</head>
<body>
<div class="g-header" >
    <div class="m-toolbar" >
        <div class="g-wrap f-clear">
            <div class="m-toolbar-l">
                <span class="m-toolbar-welcome">欢迎来到香肠一元购！</span>

            </div>
            <ul class="m-toolbar-r">
                <li class="m-toolbar-login">
                    <div id="pro-view-6"><a class="m-toolbar-login-btn" href="javascript:void(0)">请登录</a>
                        <a href="#" target="_blank">免费注册</a></div></li>
                <li class="m-toolbar-myDuobao">
                    <a class="m-toolbar-myDuobao-btn" href="#">我的夺宝
                        <i class="ico ico-arrow-gray-s ico-arrow-gray-s-down"></i></a>
                    <ul class="m-toolbar-myDuobao-menu">
                        <li><a href="#">夺宝记录</a></li>
                        <li class="m-toolbar-myDuobao-menu-win"><a href="#">幸运记录</a></li>
                        <li class="m-toolbar-myDuobao-menu-mall"><a href="#">购买记录</a></li>
                        <li class="m-toolbar-myDuobao-menu-gems"><a href="#">我的宝石</a></li>
                        <li><a href="#">账户充值</a></li>
                    </ul>
                </li>
                <li class="m-toolbar-myBonus"><a href="#">我的红包</a><var>|</var></li>
                <li><a href="{$site_config.website_sina_weibo}" target="_blank">
                    <img width="16" height="13" style="float:left;margin:8px 3px 0 0;" src="../../img/icon_weibo_s.png">官方微博</a>
                    <var>|</var>
                </li>
                <li><a href="#">官方交流群</a></li>
            </ul>
        </div>
    </div>

</div>


<div class="g-body">
    <div class="m-cashier m-cashier-usePayments">

        <div class="m-header">
            <div class="g-wrap f-clear">
                <div class="m-header-logo">
                    <h1><a class="m-header-logo-link" href="#">香肠一元购</a></h1>
                    <div class="m-header-slogan">
                        <a id="whatIsThis" href="javascript:void(0)" title="什么是香肠一元购？" style="display:none">
                            <img src="../../img/logo_banner_beta.gif"></a>
                    </div>
                </div>

                <div class="m-header-steps">


                    <div class="w-step-duobao w-step-duobao-2"></div>
                </div>
            </div>
        </div>
        <div class="g-wrap">

        <div class="m-cashier-info">
            <div class="header" id="idOrderHeader">
                <h2 class="title"><b class="ico ico-suc-m"></b> 订单提交成功，只差最后一步支付就可以啦！</h2>
                <p class="desc">请您在提交订单后<span id="idCountDown">00小时29分56秒</span>完成支付，否则订单会自动取消！</p>
            </div>
            <div class="detail">
                订单号：2016032411061543082<br>
            </div>
        </div>

        <div class="m-cashier-amount">
            <div class="header">

                <div class="amount">应付金额：<span class="txtMoney">￥1.00</span></div>
                <div class="useCoin">
                    <label class="w-checkbox w-checkbox-disabled" disabled="disabled"><input type="checkbox" disabled="disabled"> <span>使用账户余额支付（账户余额：0夺宝币）</span></label>
                    <span id="idReduce"></span>
                </div>

            </div>

            <div class="content">

                <div class="stillPay" >
                    <div class="payMoney">
                        <span>还需支付：</span>
                        <em class="txtMoney" id="idStill">￥1.00</em>
                    </div>
                    <div class="payment">
                        <span class="title">支付方式：</span>
                        <div>
                            <div class="w-pay-selector" id="pro-view-13">
                                <div class="w-pay-type w-pay-selected" ><img src="../../img/SMWX.png" alt="微信扫码"></div>
                                <div class="w-pay-type" ><img src="../../img/9999.v2.png" alt="香肠支付"></div>
                                <div class="w-pay-type" ><img src="../../img/0023.png" alt="支付宝"></div>
                                <div class="w-pay-type w-pay-type-multi" >信用卡</div>
                                <div class="w-pay-type w-pay-type-multi" >储蓄卡</div>
                            </div></div>
                    </div>
                </div>

                <div class="f-clear"></div>

                <div class="opt">
                    <button class="w-button w-button-main w-button-xl" type="button" ><span>立即支付</span></button>
                </div>

            </div>
        </div>
    </div>
        <!--订单失效-->
        <div class="g-wrap">
            <div class="m-cashier-info">
                <div class="header">
                    <h2 class="title"><b class="ico ico-err-m"></b> 订单已失效！</h2>
                </div>
            </div>
        </div>
        <!--微信支付-->
        <div class="g-wrap">
            <div class="m-weixin-header">
                <p><strong>请您及时付款，以便订单尽快处理！订单号：24473852</strong></p>
                <p>请您在提交订单后1小时内支付，否则订单会自动取消。</p>
            </div>

            <div class="m-weixin-main">
                <h1 class="m-weixin-title">微信支付</h1>
                <p class="m-weixin-money">扫一扫付款<br><strong>￥1</strong>
                </p>
                <p>
                    <img id="code" width="260" height="260" class="m-weixin-code" src="../../img/qr.png" alt="二维码">
                    <img class="m-weixin-demo" src="../../img/weixin_0.png" alt="扫一扫">
                    <img src="../../img/weixin_1.png" alt="请使用微信扫描二维码以完成支付">
                </p>
            </div>
        </div>
    </div>
</div>


<div class="g-footer">
    <div class="m-instruction">
        <div class="g-wrap f-clear">
            <div class="g-main">
                <ul class="m-instruction-list">
                    <li class="m-instruction-list-item">
                        <h5><i class="ico ico-instruction ico-instruction-1"></i>新手指南</h5>
                        <ul class="list">
                            <li><a href="#" target="_blank">了解1元夺宝平台</a></li>
                            <li><a href="#" target="_blank">服务协议</a></li>
                            <li><a href="#" target="_blank">常见问题</a></li>
                            <li><a href="#" target="_blank">投诉建议</a></li>
                        </ul>
                    </li>
                    <li class="m-instruction-list-item">
                        <h5><i class="ico ico-instruction ico-instruction-2"></i>夺宝保障</h5>
                        <ul class="list">
                            <li><a href="#" target="_blank">公平保障</a></li>
                            <li><a href="#" target="_blank">公正保障</a></li>
                            <li><a href="#" target="_blank">公开保障</a></li>
                            <li><a href="#" target="_blank">安全支付</a></li>
                        </ul>
                    </li>
                    <li class="m-instruction-list-item">
                        <h5><i class="ico ico-instruction ico-instruction-3"></i>商品配送</h5>
                        <ul class="list">
                            <li><a href="#" target="_blank">商品配送</a></li>
                            <li><a href="#" target="_blank">配送费用</a></li>
                            <li><a href=#" target="_blank">商品验货与签收</a></li>
                            <li><a href="#" target="_blank">长时间未收到商品</a></li>
                        </ul>
                    </li>
                    <li class="m-instruction-list-item">
                        <h5><i class="ico ico-instruction ico-instruction-5"></i>友情链接</h5>
                        <ul class="list">
                            <li><a href="#" target="_blank">香肠严选</a></li>
                            <li><a href="#" target="_blank">企业邮箱</a></li>
                            <li><a href="#" target="_blank">考拉海购</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="g-side">
                <div class="g-side-l">
                    <ul class="m-instruction-state f-clear">
                        <li><i class="ico ico-state-l ico-state-l-1"></i>100%公平公正公开</li>
                        <li><i class="ico ico-state-l ico-state-l-2"></i>100%正品保证</li>
                        <li><i class="ico ico-state-l ico-state-l-3"></i>100%权益保障</li>
                    </ul>
                </div>
                <div class="g-side-r">
                    <div class="m-instruction-yxCode">
                        <a href="#" target="_blank"><img width="100%" src="../../img/qrcode_app.png"></a>
                        <p style="line-height:12px;">下载客户端</p>
                    </div>
                    <div class="m-instruction-service">
                        <p>周一至周五：9:00-18:00</p>
                        <p>意见反馈请 <a href="#" target="_blank">点击这里</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 201603161456 --><div class="m-copyright">
    <div class="g-wrap">
        <div class="m-copyright-logo">
            <a href="#" target="_blank"><img width="130" src="../../img/netease_logo-m.gif"></a>
            <a href="#" target="_blank"><img width="117" src="../../img/yy_logo.gif"></a>
        </div>
        <div class="m-copyright-txt">
            <p>杭州妙得科技有限公司版权所有 © 1997-2016 ICP证浙B2-20160106</p>
            <p><a href="#" target="_blank">关于香肠</a>
                <a href="#" target="_blank">关于香肠免费邮</a>
                <a href="#" target="_blank">邮箱官方博客</a>
                <a href="#" target="_blank">客户服务</a>
                <a href="#" target="_blank">隐私政策</a></p>
        </div>
    </div>
</div>
</div>


</body></html>