{extend name="base/base" /}
{block name="css"}
{css href="__common__/admin/css/goods/form.css" /}
{css href="__plugin__/umeditor/themes/default/css/umeditor.min.css"/}
{/block}
{block name="content"}

<div class="page-content">
    <div class="page-header">
        <h1>
            文章管理
            <small>
                <i class="icon-double-angle-right"></i>
                {notempty name='type'}
                {switch name='type'}
                {case value='add'}添加{/case}
                {case value='edit'}编辑{/case}
                {default /}查看
                {/switch}
                {/notempty}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" id="form_content">

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">文章标题</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="请输入文章标题" class="col-xs-10 col-sm-5" name="title"
                        {switch name='type'}
                        {case value='add'}{/case}
                        {case value='edit|see'}value="{$art_data.title}{/case}
                        {default /}
                        {/switch} "/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">文章名字(seo)</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="请输入文章名字" class="col-xs-10 col-sm-5" name="name"
                        {switch name='type'}
                        {case value='add'}{/case}
                        {case value='edit|see'}value="{$art_data.name}{/case}
                        {default /}
                        {/switch} "/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">文章外部链接</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="请输入文章外部链接" class="col-xs-10 col-sm-5" name="outlink"                           {switch name='type'}
                        {case value='add'}{/case}
                        {case value='edit|see'}value="{$art_data.outlink}{/case}
                        {default /}
                        {/switch} "/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 状态 </label>
                    <div class="col-sm-6">
                        <select class="col-xs-10 col-sm-5" data-placeholder="请选择" name="state">
                            <option value= "1" {if condition="!empty($art_data.state) AND $art_data.state eq '1'"}selected="selected"{/if} >显示</option>
                            <option value= "-1" {if condition="!empty($art_data.state) AND $art_data.state eq '-1'"}selected="selected"{/if} >不显示</option>
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">文章分类 </label>
                    <div class="col-sm-6">
                        <select class="col-xs-10 col-sm-5" placeholder="请选择" name="category" >
                            {volist name='cate_info' id='vo'}
                            <option value="{$vo.id|default=''}" {if condition="!empty($art_data.category) AND $art_data.category eq $vo['id']"}selected="selected"{/if}>{$vo.name|default=''}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">排序</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="请输入排序号" class="col-xs-10 col-sm-5" name="sort"
                        {switch name='type'}
                        {case value='add'}{/case}
                        {case value='edit|see'}value="{$art_data.outlink}{/case}
                        {default /}
                        {/switch} "/>
                        <span class="help-inline col-xs-12 col-sm-7">
						    <span class="middle">序号越大 排名越靠前</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">赞次数</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="赞次数" class="col-xs-10 col-sm-5"
                        {switch name='type'}
                        {case value='add'}display="none"{/case}
                        {case value='edit|see'}value="{$art_data.vote_up}{/case}
                        {default /}
                        {/switch} "/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">踩次数</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="踩次数" class="col-xs-10 col-sm-5"
                        {switch name='type'}
                        {case value='add'}display="none"{/case}
                        {case value='edit|see'}value="{$art_data.vote_down}{/case}
                        {default /}
                        {/switch} "/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">浏览次数</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="浏览次数" class="col-xs-10 col-sm-5"
                        {switch name='type'}
                        {case value='add'}{/case}
                        {case value='edit|see'}value="{$art_data.outlink}{/case}
                        {default /}
                        {/switch} "/>
                    </div>
                </div>
                <div class="space-4"></div>



                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品的详情</label>
                    <div class="col-sm-9">
                        <div class="col-xs-10 col-sm-7">
                            <!-- 加载编辑器的容器 -->
                            <script id="detail" name="content" type="text/plain">
                        {switch name='type'}
                        {case value='add'}{/case}
                        {case value='edit|see'}{$art_data.content}{/case}
                        {default /}
                        {/switch}</script>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>


                <!--操作按钮-->
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        {notempty name='type'}
                        {switch name='type'}
                        {case value='add'}
                        <button class="btn btn-info submit_btn" type="button">
                            <i class="icon-ok bigger-110"></i>
                            提交表单
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重置
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-default close_page" type="button">
                            <i class="fa fa-times bigger-110"></i>
                            关闭页面
                        </button>
                        {/case}
                        {case value='edit'}
                        <button class="btn btn-info submit_btn" type="button">
                            <i class="icon-ok bigger-110"></i>
                            保存内容
                        </button>
                        <button class="btn btn-default close_page" type="button">
                            <i class="fa fa-times bigger-110"></i>
                            关闭页面
                        </button>
                        {/case}
                        {default /}
                        {/switch}
                        {/notempty}
                    </div>
                </div>
                <input type="hidden" name="id" value="{$art_data.id|default=''}">
            </form>
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

<input type="hidden" id="submit_url" value="{:U('update')}">
<input type="hidden" id="root_url" value="{:U('index')}">
<input type="hidden" id="type" value="{$type|default='add'}">
{/block}
{block name="js"}
{js href='__common__/admin/js/article/form.js' /}
{js href='__plugin__/umeditor/umeditor.config.js' /}
{js href='__plugin__/umeditor/umeditor.min.js' /}
{js href='__plugin__/umeditor/lang/zh-cn/zh-cn.js' /}




{/block}