body {
                font-family: 'Microsoft Yahei',verdana,sans-serif;
            }

.m-detail-main-codes .deco,.m-detail-period-title-ft,.m-detail-mainTab-resultList .ball {
    background-image: url(../img/carts.png);
    background-repeat: no-repeat;
}

.m-detail-main-will,.m-detail-main-end,.m-detail-main-nobody,.m-detail-period-limitIng-detail,.m-detail {
}

.m-detail .g-main {
    width: 910px;
}

.m-detail .g-side {
    width: 268px;
}

.m-detail .g-main-l {
    float: left;
    width: 430px;
}

.m-detail .g-main-m {
    float: right;
    width: 460px;
}

.m-detail .g-body-hd {
    margin-bottom: 29px;
}

.m-detail .w-dir {
    padding-bottom: 3px;
}

.m-detail .g-main {
    width: 100%;
}

.m-detail .g-main-m {
    width: 744px;
}

.m-detail-show {
    position: relative;
}

.m-detail-show .ico-label {
    z-index: 1
}

.w-gallery {
    height: auto;
}

.w-gallery-fullsize {
    width: 418px;
    height: 418px;
}

.w-gallery-picture {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.w-gallery-picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    height: 420px;
}

.w-gallery .ico-arrow {
    top: 422px;
    bottom: auto;
}

.w-gallery-thumbnail {
    margin-top: 14px;
}

.w-gallery-thumbnail-list .w-gallery-thumbnail-item {
    height: 70px;
    margin: 0 12px 0 0;
;line-height: 70px;
}

.w-gallery-thumbnail-list .w-gallery-thumbnail-item-odd {
    margin-right: 13px;
}

.w-gallery-thumbnail-list .w-gallery-thumbnail-item-last {
    margin-right: 0;
}

.w-gallery-thumbnail-list .w-gallery-thumbnail-item img {
    width: 100%;
    vertical-align: middle;
}

.w-gallery-thumbnail-list .w-gallery-thumbnail-item-selected {
    padding: 0;
    border: 2px solid #db3652;
}

.m-detail-promise {
    padding-top: 12px;
}

.m-detail-promise-item {
    float: left;
    display: block;
    padding-right: 31px;
    font-size: 12px;
    line-height: 26px;
    color: #808080;
}

.m-detail-promise-item-last {
    padding-right: 0;
}

.m-detail-promise-item-txt {
    padding-left: 8px;
    vertical-align: middle;
}

.ico-detail-promise {
    display: inline-block;
    width: 26px;
    height: 26px;
}

.ico-detail-promise-open {
    background: url(../img/detail_icons.png) -136px -158px no-repeat;
}

.ico-detail-promise-real {
    background: url(../img/detail_icons.png) -168px -158px no-repeat;
}

.ico-detail-promise-right {
    background: url(../img/detail_icons.png) -202px -158px no-repeat;
}

.ico-detail-promise-ship {
    background: url(../img/detail_icons.png) -232px -158px no-repeat;
}

.m-detail .w-shareTo-ico {
    background: url(../img/detail_icons.png) no-repeat;
}

.m-detail .w-shareTo-yixin {
    background-position: 0 -158px;
}

.m-detail .w-shareTo-weibo {
    background-position: -20px -158px;
}

.m-detail .w-shareTo-qzone {
    background-position: -60px -158px;
}

.m-detail .w-shareTo-tqq {
    background-position: -40px -158px;
}

.m-detail .w-shareTo-weixin {
    background-position: -80px -158px;
}

.m-detail-main {
    color: #333333;
    font-size: 14px;
}

.m-detail-main-intro {
    margin-top: -5px;
}

.m-detail-main-title {
    margin-bottom: 7px;
    overflow: hidden;
}

.m-detail-main-title h1 {
    font-size: 20px;
    line-height: 30px;
    word-break: break-all;
    color: #3c3c3c;
    font-weight: bold;
}

.m-detail-main-subtitle {
    padding-left: 6px;
}

.m-detail-main-desc {
    height: 63px;
}

.w-progressBar-wrap {
    float: left;
    width: 400px;
    height: 12px;
    margin-top: 6px;
    background: #ececec;
    border-radius: 6px;
}

.w-progressBar-bar {
    background: #fdb41c;
    border-radius: 6px;
}

.w-progressBar-txt {
    float: left;
    padding-left: 10px;
    color: #fdb41c;
}

.m-detail-main-calculation {
    margin-top: 10px;
    padding: 10px 0 20px 0;
    background-color: #fffff0;
    border: 1px dashed #dddddd;
}

.m-detail-main-calculation-formula {
    float: left;
    padding: 5px 0 0 21px;
}

.m-detail-main-calculation-title {
    padding-bottom: 11px;
    line-height: 16px;
    font-weight: bold;
    text-align: left;
}

.m-detail-main-calculation-title strong {
    color: #99cc66;
}

.m-detail-main-calculation-main {
    padding-right: 5px;
    border-right: 1px dotted #dddddd;
}

.m-detail-main-calculation-secondary {
    padding-left: 15px;
    position: relative;
}

.m-detail-main-calculation-secondary .m-detail-main-calculation-title {
    color: #808080;
}

.m-detail-main-calculation-parameter {
    float: left;
    text-align: center;
}

.m-detail-main-calculation-parameter span {
    display: block;
}

.m-detail-main-calculation-parameter .more {
    position: absolute;
    display: block;
    padding-top: 8px;
    z-index: 10;
}

.m-detail-main-calculation-parameter .more .ico-detail-main-calculation-tipBox {
    position: absolute;
    top: 1px;
    left: 109px;
    width: 15px;
    height: 8px;
    background: url(../img/detail_icons.png) -343px -71px no-repeat;
}

.m-detail-main-calculation-parameter .more-content {
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #808080;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.m-detail-main-calculation-parameter .more-content strong {
    font-weight: normal;
    color: #db3652;
}

.m-detail-main-calculation-sum {
    position: relative;
}

.m-detail-main-calculation-sum .more {
    display: none;
    top: 37px;
    left: -78px;
}

.m-detail-main-calculation-sum .more-content {
    width: 204px;
    padding: 9px 13px 11px 14px;
}

.m-detail-main-calculation-lottery {
    position: relative;
}

.m-detail-main-calculation-lottery .more {
    display: none;
    top: 37px;
    left: -52px;
}

.m-detail-main-calculation-lottery .more-content {
    width: 210px;
    padding: 12px 8px 14px 13px;
    word-wrap: break-word;
    word-break: break-all;
}

.m-detail-main-calculation-main .num {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #db3652;
    font-family: Arial;
}

.m-detail-main-calculation-main .tip {
    line-height: 16px;
    font-weight: bold;
    color: #808080;
}

.m-detail-main-calculation-secondary .num {
    line-height: 20px;
    color: #333333;
}

.m-detail-main-calculation-secondary .tip {
    line-height: 15px;
    color: #999999;
}

.m-detail-main-calculation-variable .tip {
    color: #99cc66;
}

.m-detail-main-calculation-parameter-hover .tip {
    color: #ff9900;
}

.m-detail-main-calculation-parameter-hover .more {
    display: block;
}

.m-detail-main-calculation-operation {
    float: left;
    font-size: 24px;
    line-height: 18px;
}

.m-detail-main-calculation-main .m-detail-main-calculation-operation {
    color: #5a5a5a;
}

.m-detail-main-calculation-main .m-detail-main-calculation-equal {
    padding: 0 8px 0 11px;
}

.m-detail-main-calculation-main .m-detail-main-calculation-add {
    padding: 0 0 0 10px;
}

.m-detail-main-calculation-secondary .m-detail-main-calculation-operation {
    line-height: 16px;
    color: #bdbdbd;
}

.m-detail-main-calculation-secondary .m-detail-main-calculation-equal {
    padding: 0 3px 0 7px;
}

.m-detail-main-calculation-secondary .m-detail-main-calculation-leftBracket {
    padding-right: 1px;
    font-size: 16px;
}

.m-detail-main-calculation-secondary .m-detail-main-calculation-add {
    padding: 0 1px 0 9px;
}

.m-detail-main-calculation-secondary .m-detail-main-calculation-rightBracket {
    position: absolute;
    top: 32px;
    left: 257px;
    font-size: 16px;
}

.m-detail-main-calculation-secondary .m-detail-main-calculation-divide {
    padding: 0 1px 0 6px;
    font-size: 14px;
}

.m-detail-main-codes {
    padding: 8px 0 0 0;
}

.m-detail-main-codes a {
    padding: 0 20px 0 9px;
}

.m-detail-main-newest {
    position: relative;
    margin-top: 18px;
    border-top: 1px dotted #bdbdbd;
}

.m-detail-main-newest-title {
    padding-top: 14px;
    font-size: 18px;
    color: #333333;
}

.m-detail-main-newest-title strong {
    padding-right: 11px;
    font-weight: bold;
}

.m-detail-main-newest-progress {
    float: left;
    padding: 16px 28px 0 0;
}

.m-detail-main-newest-go {
    float: left;
    display: block;
    width: 140px;
    height: 45px;
    margin-top: 6px;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    background-color: #db3652;
    border-radius: 3px;
}

.m-detail-main-newest-link {
    float: left;
    display: block;
    height: 54px;
    line-height: 54px;
}

.m-detail-main-newest-empty .w-progressBar-txt {
    color: #999999;
}

.m-detail-main-newest-go {
    _float: right;
    _margin-top: -30px;
}

.m-detail-main-ing {
    padding-right: 50px;
    padding-top: 12px;
    border: 1px dotted #a0a0a0;
    border-left: 0;
    border-right: 0;
}

.m-detail-main-buyGoods {
    margin: 30px 0;
}

.m-detail-main-buyGoods .w-button {
    margin-right: 10px;
}

.m-detail-main-state {
    margin-top: 12px;
}

.m-detail-main-state li {
    float: left;
    margin-right: 38px;
    height: 23px;
    line-height: 23px;
}

.m-detail-main-nobody {
    margin-bottom: 20px;
    padding: 178px 30px 0;
    width: 400px;
    height: 150px;
    background-position: 0 -656px;
}

.m-detail-main-nobody h3 {
    display: none
}

.m-detail-main-limit {
}

.m-detail-main-limit .m-detail-main-buyGoods {
    margin: 21px 0;
}

.m-detail-main-limitCountdown {
    margin: 10px 0 28px;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}

.m-detail-main-limitCountdown .w-countdown {
}

.m-detail-main-limitCountdown .w-countdown-nums {
    vertical-align: middle;
}

.m-detail-main-limitCountdown .w-countdown-nums span {
    position: inherit;
    font-size: 22px;
    font-weight: normal;
}

.m-detail-main-soldout {
    margin: 0 -50px 24px 0;
    padding: 38px 0;
    text-align: center;
    height: 18px;
    line-height: 18px;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

.m-detail .g-side {
    height: 560px;
    border: 1px solid #dddddd;
    border-top: 0;
    background-color: #f2f2f2;
}

.m-detail-noHistory {
    padding-top: 80px;
    height: 97px;
    text-align: center;
    background-color: #fff;
}

.m-detail-period-limitIng,.m-detail-period-willReveal,.m-detail-period-revealed,.m-detail-period-main-noWinner,.m-detail-period-main-soldout,.m-detail-period-main-error {
    padding: 20px 0;
    height: 248px;
    font-family: "Microsoft Yahei";
    line-height: 34px;
    color: #b9b9b9;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    background-position: 0 -36px;
}

.m-detail-period-main-error {
}

.m-detail-willReveal .m-detail-period-main-noWinner,.m-detail-revealed .m-detail-period-main-noWinner,.m-detail-willReveal .m-detail-period-main-soldout,.m-detail-revealed .m-detail-period-main-soldout {
    height: 470px;
    background-color: #dadada;
}

.m-detail-period {
}

.m-detail-period-title {
    padding-left: 22px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #3c3c3c;
    background-color: #e3e3e3;
    background: -webkit-gradient(linear,left top,left bottom,from(#f0f0f0),to(#e3e3e3));
    background: -moz-linear-gradient(top,#f0f0f0,#e3e3e3);
    background: -o-linear-gradient(top,#f0f0f0,#e3e3e3);
    background: -ms-linear-gradient(top,#f0f0f0,#e3e3e3);
}

.m-detail-period-title h4 {
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.m-detail-period-title-ft {
    position: relative;
    z-index: 1;
    margin-bottom: -4px;
    height: 4px;
    overflow: hidden;
    background-position: 0 -8px;
    background-repeat: repeat-x;
}

.m-detail-period-main {
    padding: 0 10px 9px;
    height: 510px;
}

.m-detail-period-main-wrap {
    height: 288px;
    background-color: #fff;
}

.m-detail-willReveal .m-detail-period-main-wrap,.m-detail-revealed .m-detail-period-main-wrap {
    height: 100%
}

.m-detail-period-main-wrap h6 {
    padding-left: 15px;
    line-height: 32px;
    color: #3c3c3c;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.m-detail-willReveal .m-detail-period-main-wrap h6,.m-detail-revealed .m-detail-period-main-wrap h6 {
    padding-top: 20px;
}

.m-detail-period-ing {
    position: relative;
}

.m-detail-willReveal .m-detail-period-newest,.m-detail-revealed .m-detail-period-newest {
    height: 100%;
    background: #fff;
}

.m-detail-period-newest .w-goods-ing {
    width: 210px;
    height: auto;
    margin: 0 auto;
}

.m-detail-period-newest .w-goods-pic img {
    margin: 10px auto 0;
}

.m-detail-period-newest .w-goods-title a {
    font-weight: bold;
    line-height: 22px;
    font-size: 14px;
}

.m-detail-period-newest .w-goods-desc {
    width: 100%;
    line-height: 22px;
}

.m-detail-period-newest .w-progressBar {
    width: 200px;
    margin: 0 auto;
}

.m-detail-period-newest .w-goods-opr {
    margin-top: 12px;
}

.m-detail-period-newest .w-goods-detail {
    margin: 30px auto 0;
    overflow: visible;
}

.m-detail-period-newest .w-goods-detail .ico-label {
    top: -30px;
}

.m-detail-period-newest .w-goods-detail .w-goods-pic {
    margin-bottom: 20px;
}

.m-detail-period-newest .w-goods-detail .w-goods-title {
    _height: 45px;
    max-height: 45px;
    overflow: hidden;
}

.m-detail-period-newest .w-goods-detail .w-progressBar {
    margin-top: 20px
}

.m-detail-period-newest .w-goods-detail .w-goods-opr {
    margin-left: -19px;
    margin-right: -19px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

.m-detail-period-newest .w-goods-detail .w-goods-opr-buy {
    margin-top: 20px;
}

.m-detail-period-limitIng {
    position: relative;
}

.m-detail-period-limitIng-detail {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 160px;
    height: 106px;
    background-position: -165px -420px;
}

.m-detail-period-limitIng-link {
    margin-top: 185px;
    text-align: center;
}

.m-detail-period-willReveal {
    position: relative;
}

.m-detail-period-willReveal-detail {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 160px;
    height: 106px;
    background-position: 0 -420px;
}

.m-detail-period-willReveal-detail .w-countdown {
    position: absolute;
    top: 60px;
    left: 30px;
    font-size: 27px;
    font-family: arial;
}

.m-detail-period-willReveal-link {
    margin-top: 188px;
    text-align: center;
}

.m-detail-period-winner-detail {
    padding: 15px 10px 5px;
    color: #3c3c3c;
}

.m-detail-period-winner-detail p {
    line-height: 18px;
}

.m-detail-period-winner-detail .title {
    margin-bottom: 5px;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px dashed #ddd;
}

.m-detail-period-winner-detail .avatar {
    margin: 0 auto 3px;
    padding: 4px;
    width: 90px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.m-detail-period-winner-link {
    text-align: center;
}

.m-detail-period-list {
    margin: 10px -5px 9px 0;
    width: 255px;
    height: 180px;
    overflow: hidden;
}

.m-detail-period-list li {
    float: left;
    margin: 0 5px 5px 0;
}

.m-detail-period-list a,.m-detail-period-list span {
    display: block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    color: #808080;
    text-decoration: none;
}

.m-detail-period-list span {
    background: #e4e4e4;
}

.m-detail-period-list a:hover {
    color: #db3625;
}

.m-detail-period-list .on a {
    width: 76px;
    height: 28px;
    line-height: 28px;
    color: #db3652;
    border: 2px solid #db3652;
    font-weight: bold;
    cursor: default;
}

.m-detail-period-list .on a:hover {
    text-decoration: none;
}

.m-detail-period .w-pager {
    text-align: right;
}

.m-detail-period .w-pager .w-button {
    padding: 0;
    width: 55px;
    height: 23px;
    line-height: 21px;
    border: 1px solid #d8d8d8;
    border-radius: 1px;
    font-weight: normal;
    font-family: "Verdana";
    color: #808080;
    background: #f6f6f6;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eeeeee));
    background: -moz-linear-gradient(top,#ffffff,#eeeeee);
    background: -o-linear-gradient(top,#ffffff,#eeeeee);
    background: -ms-linear-gradient(top,#ffffff,#eeeeee);
}

.m-detail-period .w-pager .w-button:hover {
    background: #fff;
}

.m-detail-period .w-pager .w-button-disabled,.m-detail-period .w-pager .w-button-disabled:hover {
    color: #ffffff!important;
    background: #e0e0e0!important;
    border-color: #ddd!important
}

.m-detail-mainTab {
}

.m-detail-mainTab .w-tabs-tab {
    margin-bottom: 0;
    height: 38px;
    overflow: visible;
    line-height: 34px;
    font-size: 16px;
    color: #333333;
    font-family: "Microsoft Yahei";
    border: 1px solid #ddd;
    border-left: 0;
    background-color: #fafafa;
}

.m-detail-mainTab .w-tabs-tab-item {
    background-color: #fafafa;
}

.m-detail-mainTab .w-tabs-panel {
    border: 1px solid #ddd;
    border-top: 0;
}

.m-detail-mainTab .w-tabs-tab-item-selected {
    height: 35px;
    border-bottom: 1px solid #fff;
}

.m-detail-mainTab .w-tabs-panel-item .w-loading {
    margin: 0;
    padding: 40px 0;
}

#intro_panel {
    padding: 20px 0;
}

#intro_panel img {
    display: block;
    margin: 0 auto;
}

#intro_panel .special {
    margin: 0 80px;
    padding: 28px 8px 20px 80px;
    line-height: 25px;
    border-top: 1px dashed #ddd;
    font-size: 16px;
    color: #7d7d7d;
    font-family: "Microsoft Yahei";
    zoom: 1;
}

#intro_panel .special dt {
    float: left;
}

#intro_panel .special dd {
    padding-left: 90px;
}

#record_panel {
}

.m-detail-mainTab-record {
}

.m-detail-mainTab-record .content {
    padding: 20px 0;
}

.m-detail-mainTab-record .empty {
    text-align: center;
}

.m-detail-mainTab-record .content {
    padding: 40px 50px 40px 250px;
    *zoom: 1;
}

.m-detail-mainTab-record .ico-recordDot-solid {
    position: absolute;
    top: 24px;
    right: -7px;
}

.m-detail-mainTab-record .pager {
    margin: 30px 30px 30px 0;
    padding-top: 20px;
    text-align: right;
    border-top: 1px solid #ddd;
}

.m-detail-recordList {
    padding-left: 50px;
    overflow: hidden;
    *zoom: 1;
}

.m-detail-recordList-start,.m-detail-recordList-end {
    height: 51px;
}

.m-detail-recordList-start .ico-clock,.m-detail-recordList-end .ico-clock {
    margin-left: 137px;
}

.m-detail-recordList li {
    position: relative;
}

.m-detail-recordList .ico-recordDot-hollow {
    position: absolute;
    left: 106px;
    top: 15px;
}

.m-detail-recordList-timeSeperate {
    display: inline-block;
    padding-right: 16px;
    width: 145px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #808080;
    border-right: 2px solid #ddd;
    position: relative;
}

.m-detail-recordList .time {
    float: left;
    display: inline-block;
    width: 90px;
    padding-right: 21px;
    line-height: 40px;
    color: #808080;
}

.m-detail-recordList .avatar {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.m-detail-recordList .times,.m-detail-recordList .device,.m-detail-recordList .ico-regularBuy {
    margin-right: 10px;
}

.m-detail-recordList .avatar img {
    display: block;
}

.m-detail-recordList-userInfo {
    float: left;
    padding-left: 15px;
    border-left: 2px solid #ddd;
    line-height: 28px;
}

.m-detail-recordList-userInfo p {
    padding: 6px 0;
}

.m-detail-recordList-userInfo .btn-checkCodes {
    font-family: "simsun";
    vertical-align: top;
}

.m-detail-recordList-userInfo .btn-checkCodes .ico {
    margin-top: -4px;
}

.m-detail-recordList-userInfo .inner {
    margin-bottom: 2px;
    padding: 0 7px;
    width: 700px;
    position: relative;
    color: #808080;
}

.m-detail-recordList-userInfo-detail .inner {
    padding: 0 5px 10px 5px;
    border: 2px solid #ddd;
}

.m-detail-recordList-userInfo-detail p {
    padding-top: 4px;
}

.m-detail-recordList-userInfo .codes {
    padding: 0 0 0 24px;
    line-height: 23px;
    overflow: hidden;
}

.m-detail-recordList-userInfo .codes b {
    display: inline-block;
    width: 84px;
    color: #818181;
    font-weight: normal;
}

.m-detail-recordList-userInfo .btn-close {
    position: absolute;
    top: 12px;
    right: 7px;
    line-height: 7px;
    color: #808080;
    text-decoration: none;
}

.m-detail-recordList-userInfo .btn-close:hover {
    color: #db3652;
}

#resultPanel {
    padding: 10px 30px;
}

#resultPanel span.index {
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    text-align: center;
}

.m-detail-mainTab-calcRule {
    overflow: hidden;
    position: relative;
    height: auto;
}

.m-detail-mainTab-calcRule h4 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 130px;
    height: 100%;
    text-align: center;
    background-color: #fb5764;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.m-detail-mainTab-calcRule h4 .wrap {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 90px;
    height: 100px;
    margin: -50px 20px 0 20px;
}

.m-detail-mainTab-calcRule h4 .ico {
}

.m-detail-mainTab-calcRule h4 .txt {
    display: inline-block;
    width: 70px
}

.m-detail-mainTab-calcRule .ruleWrap {
    height: auto;
    padding: 15px 20px 15px 20px;
    padding-bottom: 12px\9;
    margin-left: 130px;
    border: 1px solid #ddd;
    border-left: 0;
    overflow: hidden;
}

.m-detail-mainTab-calcRule h4 {
    _height: 162px;
    _margin-left: -130px;
}

.m-detail-mainTab-calcRule .ruleList {
}

.m-detail-mainTab-calcRule li {
    padding: 5px 0;
    line-height: 16px;
    color: #3c3c3c;
}

.m-detail-mainTab-calcRule li.txt-red {
    color: #db3652;
}

.m-detail-mainTab-calcRule .index {
    background-color: #4f4846;
    color: #fff;
}

.m-detail-mainTab-resultList {
    width: 100%;
    margin-top: 35px;
    color: #3C3C3C;
}

.m-detail-mainTab-resultList th {
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    background-color: #F2F2F2;
    border-top: 2px solid #ddd;
}

.m-detail-mainTab-resultList td {
    padding: 0 10px;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #ddd;
}

.m-detail-mainTab-resultList a {
    color: #7F7F7F;
}

.m-detail-mainTab-resultList .startRow td {
    background-color: #FFFFE0;
    border: 1px solid #DDDEB4;
    text-align: center;
}

.m-detail-mainTab-resultList .calcRow td {
    background-color: #F5F5F5;
}

.m-detail-mainTab-resultList th.time {
    padding-left: 30px;
}

.m-detail-mainTab-resultList .day {
    width: 80px;
    padding-left: 30px;
}

.m-detail-mainTab-resultList .time {
    width: 200px;
}

.m-detail-mainTab-resultList .ico-arrow-transfer {
    margin: 0 10px;
}

.m-detail-mainTab-resultList .user,.m-detail-mainTab-resultList .user div {
    width: 180px;
}

.m-detail-mainTab-resultList .gname {
    line-height: 20px;
}

.m-detail-mainTab-resultList .calcRow .day,.m-detail-mainTab-resultList .calcRow .time {
    border-right: 1px solid #ddd;
}

.m-detail-mainTab-resultList .resultRow td {
    padding: 15px 30px 20px;
    height: 120px;
    line-height: 16px;
    background-color: #FC5765;
    color: #fff;
}

.m-detail-mainTab-resultList .resultRow h4 {
    display: inline-block;
    margin-top: 6px;
    float: left;
    width: 85px;
    height: 100%;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    font-weight: bold;
}

.m-detail-mainTab-resultList .resultRow li {
    padding: 2px 0;
    line-height: 24px;
}

.m-detail-mainTab-resultList .resultRow a {
    margin-left: 10px;
    color: #FFE000;
    font-family: simsun;
}

.m-detail-mainTab-resultList .index {
    color: #fff;
    font-weight: bold;
}

.m-detail-mainTab-resultList .resultCode {
    margin-top: 15px;
    display: inline-block;
    padding: 0 20px;
    background-color: #fff;
    color: #FC5765;
    border-radius: 17px;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    line-height: 30px;
}

.m-detail-mainTab-resultList .ball {
    display: inline-block;
    margin-right: 1px;
    width: 22px;
    height: 25px;
    line-height: 22px;
    text-align: center;
    background-position: -90px -100px;
    color: #de2042;
    font-size: 14px;
}

.m-detail-mainTab-resultList .square {
    display: inline-block;
    margin-right: 2px;
    width: 18px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    color: #de2042;
    font-size: 14px;
}

.pro-msgbox-bd {
    padding: 20px 30px;
}

.m-detail-codesDetail {
}

.m-detail-codesDetail-bd {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.m-detail-codesDetail h3 {
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size: 15px;
    color: #3c3c3c;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.m-detail-codesDetail-wrap {
    width: 450px;
    _height: 420px;
    max-height: 420px;
    overflow-y: scroll;
}

.m-detail-codesDetail-list {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 26px;
}

.m-detail-codesDetail-list dt {
    font-weight: bold;
    color: #3c3c3c;
}

.m-detail-codesDetail-list dd {
    float: left;
    margin-right: 10px;
    width: 75px;
}

.m-detail-codesDetail-list .selected {
    font-weight: bold;
}

#sharePanel {
    padding: 20px 40px;
}

.m-detail-mainTab-share {
    padding: 20px 40px;
    *zoom: 1;
}

.m-detail-mainTab-share li {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    _height: 100px;
    min-height: 100px;
}

.m-detail-shareList-author {
    float: left;
    text-align: center;
}

.m-detail-shareList-author .avatar {
    display: block;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.m-detail-shareList-author .nickname {
    margin-top: 5px;
    display: block;
    width: 100px;
}

.m-detail-shareList-detail {
    margin-left: 120px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    *zoom: 1;
}

.m-detail-shareList-detail .ico-arrow-grayShareArr {
    position: absolute;
    left: -11px;
    top: 10px;
}

.m-detail-shareList-detail .titleWrap {
    padding: 5px 20px 0;
    line-height: 35px;
    background-color: #fcfcfc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px dashed #bababa;
    overflow: hidden;
    *zoom: 1;
}

.m-detail-shareList-detail .title {
    font-family: "Microsoft Yahei";
    font-size: 14px;
}

.m-detail-shareList-detail .title a {
    color: #3d3d3d;
    font-size: 18px;
}

.m-detail-shareList-detail .date {
    float: right;
    margin-left: 10px;
}

.m-detail-shareList-detail .contentWrap {
    padding: 10px 20px;
    text-indent: 2em;
    word-wrap: break-word;
    word-break: break-all;
}

.m-detail-shareList-detail .contentWrap a {
    color: #808080;
    text-decoration: none;
}

.m-detail-shareList-detail .imgWrap {
    padding: 0 20px;
    overflow: hidden;
    *zoom: 1;
}

.m-detail-shareList-detail .imgWrap a {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    padding: 1px;
    width: 140px;
    height: 140px;
    line-height: 140px;
    border: 1px solid #ccc;
    text-align: center;
    overflow: hidden;
}

.m-detail-shareList-detail .imgWrap img {
}

.m-detail-mainTab-share .pager {
    text-align: right;
}

#historyPanel {
}

.m-detail-mainTab-history {
    padding: 0 0;
}

.m-detail-mainTab-history .content {
    padding: 0 0 0 0;
}

.m-detail-mainTab-history .m-detail-tabHistory-list {
    padding: 0 30px 0 30px;
    font-size: 14px;
    color: #333333;
}

.m-detail-mainTab-history .m-detail-tabHistory-item {
    height: 100px;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

.m-detail-mainTab-history .m-detail-tabHistory-period {
    float: left;
    width: 142px;
    line-height: 100px;
    text-align: center;
}

.m-detail-mainTab-history .m-detail-tabHistory-info {
    float: left;
    width: 484px;
    padding-left: 40px;
}

.m-detail-mainTab-history .m-detail-tabHistory-info img {
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    margin-top: 15px;
}

.m-detail-mainTab-history .m-detail-tabHistory-info-txt {
    float: left;
    width: 350px;
    padding: 8px 0 0 20px;
}

.m-detail-mainTab-history .m-detail-tabHistory-info-txt span {
    display: block;
    line-height: 28px;
    vertical-align: middle;
}

.m-detail-mainTab-history .m-detail-tabHistory-info-nickname {
    display: inline-block !important;
    max-width: 90px;
    _width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.m-detail-mainTab-history .m-detail-tabHistory-info-address {
    display: inline-block !important;
    max-width: 90px;
    _width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.m-detail-mainTab-history .m-detail-tabHistory-result {
    float: left;
    width: 300px;
}

.m-detail-mainTab-history .m-detail-tabHistory-result span {
    display: block;
    line-height: 28px;
}

.m-detail-mainTab-history .m-detail-tabHistory-operation {
    float: right;
    width: 162px;
    line-height: 100px;
    text-align: center;
}

.m-detail-mainTab-history .pager {
    padding: 20px 20px 20px 0;
    text-align: right;
}

.m-detail-tabHistory-countdown .w-countdown {
    margin-top: 32px;
}

.m-detail-tabHistory-countdown .w-countdown-title {
    padding-right: 14px;
    font-size: 16px;
    font-weight: normal;
}

.m-detail-tabHistory-countdown .w-countdown-nums {
    color: #db3652;
    font-size: 42px;
    text-align: center;
    font-family: Arial;
}

.m-detail-tabHistory-countdown .w-countdown-nums b {
    display: inline-block;
    margin-right: 2px;
    border-radius: 4px;
    width: 31px;
    font-size: 34px;
    background: #db3652;
    line-height: 37px;
    text-align: center;
    color: #fff;
}

.m-detail-tabHistory-countdown .w-countdown-why {
    font-size: 12px;
}

.m-detail-tabHistory-error .m-detail-tabHistory-info {
    font-size: 16px;
    line-height: 100px;
    color: #db3652;
}

.m-detail-tabHistory-error .m-detail-tabHistory-result {
    line-height: 100px;
}

.m-detail-tabHistory-systemError .m-detail-tabHistory-info {
    font-size: 16px;
    line-height: 100px;
}

.m-detail-tabHistory-systemError .m-detail-tabHistory-result {
    line-height: 100px;
}

.m-detail-tabHistory-published .m-detail-tabHistory-result {
    padding-top: 8px;
}

.m-detail-tabHistory-published strong {
    color: #db3652;
}

.m-detail .w-shareTo {
    padding-top: 12px;
}

.w-wishSetEntry-detail {
    left: auto;
    top: auto;
    right: 6px;
    bottom: 0;
    padding: 5px 0;
    width: 110px;
    text-align: left;
    background: #3399ff;
    border-radius: 2px;
    box-shadow: 1px 1px #1B7DE2;
}

.w-wishSetEntry-detail .ico-wishHeart {
    margin: 0 6px 0 8px;
}

.w-fixedLayer-bonus {
    width: 260px;
}

.w-fixedLayer-bonus .w-fixedLayer-hd,.w-fixedLayer-bonus .w-fixedLayer-ft,.w-fixedLayer-bonus .w-fixedLayer-hd {
    height: 30px;
    background-position: 0 0;
}

.w-fixedLayer-bonus .w-fixedLayer-ft {
    height: 30px;
    background-position: 0 -248px;
}

.w-fixedLayer-bonus .w-fixedLayer-bd {
    padding: 5px 30px;
    background-position: 0 -30px;
    background-repeat: repeat-y;
    color: #8c3434;
}

.w-fixedLayer-bonus .w-fixedLayer-bd a {
    color: #8c3434;
    text-decoration: none;
}

.w-fixedLayer-bonus .w-fixedLayer-tt {
    color: #ff4949;
}

.w-fixedLayer-gamepcard {
    padding: 5px;
    width: 200px;
    background: #db3652;
}

.w-fixedLayer-gamepcard .w-fixedLayer-close {
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    text-indent: 0;
    line-height: 16px;
    _line-height: 22px;
    font-size: 18px;
    font-weight: bold;
    color: #db3652;
    background: #fff;
    border: 3px solid #db3652;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.w-fixedLayer-gamepcard p {
    text-indent: 0;
}

.w-fixedLayer-gamepcard .dot {
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    background: #FFBFCA;
    overflow: hidden;
}

.w-fixedLayer-gamepcard .w-fixedLayer-tt {
    color: #fff;
    font-size: 14px;
    font-family: simsun;
}

.w-fixedLayer-gamepcard .list {
    background: #fff;
    width: 100%;
    overflow: hidden;
}

.w-fixedLayer-gamepcard .list li {
    padding: 10px;
    width: 180px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    border-top: 1px dashed #db3652;
}

.w-fixedLayer-gamepcard .list li.first {
    border-top: 0;
}

.w-fixedLayer-gamepcard .list div {
    width: 100%;
    overflow: hidden;
}

.w-fixedLayer-gamepcard .list .img {
    margin-right: 5px;
}

.w-fixedLayer-gamepcard .list img {
    display: inline;
    vertical-align: middle;
}

.w-fixedLayer-gamepcard .list .name {
    font-size: 14px;
    color: #000;
}

.w-fixedLayer-gamepcard .intro li {
    padding-left: 10px;
    text-indent: -10px;
}

.w-fixedLayer-gamepcard .w-fixedLayer-bd-ext {
    margin-top: 5px;
    padding: 8px;
    color: #fff;
    background: #E14F68;
}

.w-fixedLayer-gamepcard .w-fixedLayer-bd-ext .title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.ico-detail-main-hourglass {
    float: left;
    display: block;
    width: 60px;
    height: 79px;
    margin-top: 8px;
    background: url(../img/detail_icons.png) -220px 0 no-repeat;
}

.ico-detail-main-countdown-error {
    width: 211px;
    height: 149px;
    background: url(../img/detail_icons.png) 0 0 no-repeat;
}

.m-detail-main-countdown {
    padding: 61px 0 54px 179px;
    background-color: #ffeaee;
}

.m-detail-main-countdown-content {
    float: left;
    padding: 0 0 0 26px;
}

.m-detail-main-countdown-hd {
    font-size: 16px;
    color: #e97e90;
}

.m-detail-main-countdown-hd .split {
    padding: 0 5px;
}

.m-detail-main-countdown-num {
    font-size: 74px;
    line-height: 74px;
    font-weight: bold;
    color: #db3652;
    font-family: Arial;
}

.m-detail-main-countdown-error {
    height: 215px;
    padding: 0;
    background-color: #f3f3f3;
}

.m-detail-main-countdown-error .ico {
    float: left;
    display: block;
    margin: 32px 0 0 144px;
}

.m-detail-main-countdown-error p {
    float: left;
    display: block;
    margin: 80px 0 0 26px;
    font-size: 20px;
    line-height: normal;
    color: #808080;
}

.m-detail-main-countdown-error p span {
    display: block;
}
.w-fixedLayer-bonus {
    width: 260px;
}

.w-fixedLayer-bonus .w-fixedLayer-hd,.w-fixedLayer-bonus .w-fixedLayer-ft,.w-fixedLayer-bonus .w-fixedLayer-hd {
    height: 30px;
    background-position: 0 0;
}

.w-fixedLayer-bonus .w-fixedLayer-ft {
    height: 30px;
    background-position: 0 -248px;
}

.w-fixedLayer-bonus .w-fixedLayer-bd {
    padding: 5px 30px;
    background-position: 0 -30px;
    background-repeat: repeat-y;
    color: #8c3434;
}

.w-fixedLayer-bonus .w-fixedLayer-bd a {
    color: #8c3434;
    text-decoration: none;
}

.w-fixedLayer-bonus .w-fixedLayer-tt {
    color: #ff4949;
}

.w-fixedLayer-gamepcard {
    padding: 5px;
    width: 200px;
    background: #db3652;
}

.w-fixedLayer-gamepcard .w-fixedLayer-close {
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    text-indent: 0;
    line-height: 16px;
    _line-height: 22px;
    font-size: 18px;
    font-weight: bold;
    color: #db3652;
    background: #fff;
    border: 3px solid #db3652;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.w-fixedLayer-gamepcard p {
    text-indent: 0;
}

.w-fixedLayer-gamepcard .dot {
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    background: #FFBFCA;
    overflow: hidden;
}

.w-fixedLayer-gamepcard .w-fixedLayer-tt {
    color: #fff;
    font-size: 14px;
    font-family: simsun;
}

.w-fixedLayer-gamepcard .list {
    background: #fff;
    width: 100%;
    overflow: hidden;
}

.w-fixedLayer-gamepcard .list li {
    padding: 10px;
    width: 180px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    border-top: 1px dashed #db3652;
}

.w-fixedLayer-gamepcard .list li.first {
    border-top: 0;
}

.w-fixedLayer-gamepcard .list div {
    width: 100%;
    overflow: hidden;
}

.w-fixedLayer-gamepcard .list .img {
    margin-right: 5px;
}

.w-fixedLayer-gamepcard .list img {
    display: inline;
    vertical-align: middle;
}

.w-fixedLayer-gamepcard .list .name {
    font-size: 14px;
    color: #000;
}

.w-fixedLayer-gamepcard .intro li {
    padding-left: 10px;
    text-indent: -10px;
}

.w-fixedLayer-gamepcard .w-fixedLayer-bd-ext {
    margin-top: 5px;
    padding: 8px;
    color: #fff;
    background: #E14F68;
}

.w-fixedLayer-gamepcard .w-fixedLayer-bd-ext .title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.m-detail-main-winner {
}

.m-detail-main-winner-luckyCode {
    height: 76px;
    padding-left: 174px;
    background-color: #db3652;
}

.m-detail-main-winner-luckyCode .hd {
    float: left;
    padding: 1px 14px 1px 11px;
    margin-top: 26px;
    font-size: 14px;
    text-align: center;
    color: #db3652;
    background-color: #ffed64;
    border-radius: 13px;
    vertical-align: middle;
}

.m-detail-main-winner-luckyCode .period {
    padding-right: 8px;
    border-right: 1px solid #db3652;
}

.m-detail-main-winner-luckyCode .period-num {
    padding-left: 6px;
    font-family: Arial;
}

.m-detail-main-winner-luckyCode .title {
    padding-left: 6px;
}

.m-detail-main-winner-luckyCode .code {
    float: left;
    padding: 3px 0 0 6px;
    font-size: 44px;
    font-weight: bold;
    color: #ffffff;
    font-family: Arial;
    vertical-align: middle;
}

.m-detail-main-winner-detail {
    position: relative;
    height: 139px;
    background-color: #f9f9f9;
}

.ico-detail-main-winner {
    position: absolute;
    top: 8px;
    left: 17px;
    display: block;
    width: 82px;
    height: 51px;
    background: url(../img/detail_icons.png) -296px 0 no-repeat;
}

.m-detail-main-winner-detail .user-avatar {
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    padding: 35px 0 0 31px;
}

.m-detail-main-winner-detail .user-info {
    float: left;
    padding: 29px 0 0 20px;
}

.m-detail-main-winner-detail .record-info {
    float: left;
    padding: 29px 0 0 10px
}

.m-detail-main-winner-detail .info-item {
    line-height: 26px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.m-detail-main-winner-detail .user-info .info-item {
    width: 330px;
}

.m-detail-main-winner-detail .info-item .hd {
    display: inline-block;
    width: 56px;
}

.m-detail-main-winner-detail .info-item .bd {
}

.m-detail-main-winner-detail .user-buyTimes .bd {
    font-weight: bold;
    color: #db3652;
}

.m-detail-main-winner-detail .codes a {
    color: #999999;
}
.m-detail-main-ing {
    position: relative;
    border: none;
    padding: 0;
    border-top: 1px solid #dddddd;
}

.m-detail-main-type {
    padding-top: 23px;
    border-bottom: 1px dotted #bdbdbd;
}

.m-detail-main-type-hd {
}

.m-detail-main-type-bd {
    margin-top: 5px;
    position: relative;
}

.m-detail-main-type-ft {
    padding: 10px 0 30px 0;
}

.m-detail-main-type-btn {
    display: block;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
}

.m-detail-main-type-btn:hover {
    text-decoration: none;
}

.ico-detail-main-type {
    float: left;
    display: block;
    width: 55px;
    height: 20px;
    margin: 7px 18px 0 0;
}


.m-detail-main-type-title {
    float: left;
    padding: 0 10px 0 0;
    font-size: 20px;
}

.m-detail-main-type-subtitle {
    float: left;
    margin-top: 4px;
    color: #999999;
}

.m-detail-main-type-subtitle .period {
    color: #333333;
    padding-right: 10px;
}

.m-detail-main-type-price {
    float: left;
}

.m-detail-main-type-price strong {
    font-size: 20px;
    color: #db3652;
    padding-left: 5px;
}

.m-detail-main-type-originPrice {
    float: left;
    color: #808080;
    padding-left: 13px;
    margin-top: 7px;
}

.m-detail-main-type-originPrice del {
    padding-left: 4px;
}

.m-detail-main-mall {
}

.m-detail-main-mall-buy {
    float: left;
    width: 178px;
    height: 48px;
    line-height: 48px;
    color: #db3652;
    background-color: #ffeaee;
    border: 1px solid #db3652;
    border-radius: 3px;
}

.m-detail-main-mall-buy-disable {
    float: left;
    width: 180px;
    height: 50px;
    margin-right: 12px;
    line-height: 50px;
    color: #ffffff;
    background-color: #dddddd;
    border: none;
}

.m-detail-main-mall-reserveTip {
    float: left;
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: #db3652;
}

.m-detail-main-one {
    position: relative;
    border-bottom: none;
}

.m-detail-main-one .m-detail-main-type-ft {
    padding-top: 16px;
}

.m-detail-main-one-explanation {
    position: relative;
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin: 8px 0 0 8px;
    color: #929292;
    border-radius: 50%;
    background-color: #e2e2e2;
}

.m-detail-main-one-explanation .more-box {
    position: absolute;
    top: -43px;
    left: 18px;
    display: none;
    padding: 0 0 0 17px;
    z-index: 3;
}

.m-detail-main-one-explanation .more-box .ico-detail-main-left-anchor {
    position: absolute;
    top: 44px;
    left: 10px;
    display: block;
    width: 8px;
    height: 15px;
    background: url(../img/detail_icons.png) -366px -70px no-repeat;
}

.m-detail-main-one-explanation .more-box .content {
    width: 340px;
    padding: 9px 4px 11px 14px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.m-detail-main-one-explanation .more-box p {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #808080;
}

.m-detail-main-one-explanation .more-box p strong {
    color: #db3652;
}

.m-detail-main-one-explanation-hover .more-box {
    display: block;
}

.m-detail-main-limit {
    position: absolute;
    top: 211px;
    left: 557px;
    padding-left: 12px;
    z-index: 2;
}

.m-detail-main-limit-title {
    float: left;
    display: block;
    margin-top: 9px;
    padding: 0 4px;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffaf3c;
}

.m-detail-main-limit-count {
    float: left;
    display: block;
    color: #db3652;
    padding-left: 4px;
}

.m-detail-main-limit-num {
    float: left;
    display: block;
    padding-right: 2px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    font-family: Arial;
}

.m-detail-main-limit-unit {
    float: left;
    display: block;
    padding: 6px 5px 0 0;
}

.m-detail-main-limit-unit-last {
    padding-right: 0;
}

.m-detail-main-limit {
    _left: 540px;
}

.m-detail-main-one-type {
    float: left;
    margin: 16px 9px 0 0;
    padding: 0 5px;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    background-color: #8c68d6;
}

.m-detail-main-one-progress {
}

.m-detail-main-one-progress .w-progressBar {
}

.m-detail-main-one-progress .w-progressBar-wrap {
    float: left;
    width: 400px;
    height: 12px;
    margin-top: 10px;
    background: #ececec;
    border-radius: 6px;
}

.m-detail-main-one-progress .w-progressBar-bar {
    background: #fdb41c;
    border-radius: 6px;
}

.m-detail-main-one-progress .w-progressBar-txt {
    float: left;
    padding: 4px 0 0 10px;
    color: #808080;
}

.m-detail-main-count {
    height: 30px;
    position: relative;
    margin-top: 26px;
}

.m-detail-main-count-number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: auto;
    height: 30px;
    vertical-align: middle;
    margin: 0 0 0 2px;
}

.m-detail-main-count-number .w-number-btn {
    width: 28px;
    height: 28px;
}

.m-detail-main-count-number .w-number-input {
    width: 60px;
    height: 24px;
}

.m-detail-main-buyHint {
    position: absolute;
    left: 185px;
    top: 2px;
    padding: 0 5px 0 10px;
    display: inline-block;
    background-color: #f4f4f4;
    line-height: 24px;
    border-radius: 4px;
}

.m-detail-main-buyHint .ico-arrow {
    position: absolute;
    left: -9px;
    top: 8px;
}

.m-detail-main-buyHint b {
    font-weight: normal;
}

.m-detail-main-one-empty .w-progressBar-txt {
    color: #999999;
}

.m-detail-main-one-progress {
    _position: absolute;
    _top: 0;
    _left: 0;
}

.m-detail-main-one-intro {
    width: 400px;
}

.m-detail-main-one-price {
    float: left;
    padding: 0;
}

.m-detail-main-one-remain {
    float: right;
    color: #db3652;
}

.m-detail-main-one-intro {
    _position: absolute;
    _top: 30px;
    _left: 0;
}

.m-detail-main-count {
    _position: absolute;
    _top: 50px;
    _left: 0;
}

.m-detail-main-buyUnitHint {
    position: absolute;
    left: 30px;
    bottom: -27px;
    padding: 0 5px;
    display: inline-block;
    line-height: 20px;
    color: #db3652;
}

.m-detail-main-codes {
    margin-top: 8px;
    _padding-top: 120px;
}

.m-detail-main-one-buy {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 50px;
    margin-right: 8px;
    line-height: 50px;
    color: #ffffff;
    background-color: #db3652;
}

.m-detail-main-one-buy-disable {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 50px;
    margin-right: 12px;
    line-height: 50px;
    color: #ffffff;
    background-color: #dddddd;
}

.m-detail-main-one-cart {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 178px;
    height: 48px;
    line-height: 48px;
    color: #db3652;
    border: 1px solid #cccccc;
    background: #fafafa;
}

.m-detail-main-one-cart .ico-miniCart {
    position: absolute;
    top: 12px;
    left: 32px;
    width: 26px;
    height: 24px;
    background: url(../img/detail_icons.png) -304px -63px no-repeat;
}

.m-detail-main-one-cart .btn-txt {
    position: absolute;
    top: 0;
    left: 66px;
}

.m-detail-main-one-reserveTip {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: #db3652;
}

.m-detail-main-outOfStock {
    margin-top: 30px;
    padding: 38px 0 30px 153px;
    background: #fafafa;
}

.m-detail-main-outOfStock-ico {
    display: block;
    float: left;
    width: 66px;
    height: 64px;
    background: url(../img/detail_icons.png) -217px -85px no-repeat;
}

.m-detail-main-outOfStock-content {
    float: left;
    padding: 4px 0 0 21px;
}

.m-detail-main-outOfStock-content p {
    font-size: 20px;
    color: #333333;
    text-align: left;
}

.m-detail-main-outOfStock-content p span {
    display: block;
}

.m-detail-main-outOfStock-content a {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

.m-detail-main-soldOut {
    margin-top: 30px;
    line-height: 160px;
    background: #fffbf0;
    font-size: 28px;
    color: #333333;
    text-align: center;
}

.m-detail-main-onlyOne {
}

.m-detail-main-onlyOne-content {
    padding-bottom: 50px;
}

.m-detail-main-onlyOne .m-detail-main-one-header {
    padding: 24px 0 14px 0;
}

.m-detail-main-onlyOne .w-progressBar-wrap {
    margin-bottom: 0;
}

.m-detail-main-onlyOne .m-detail-main-one-intro {
}

.m-detail-main-onlyOne .m-detail-main-one-count {
    position: relative;
    padding: 26px 0 0 0;
}

.m-detail-main-onlyOne .m-detail-main-buyHint {
    top: 26px;
}

.m-detail-main-onlyOne .m-detail-main-one-operation {
    padding: 40px 0 0 0;
}

.m-detail-main-onlyOne .m-detail-main-one-codes {
    height: 110px;
    padding: 23px 40px 10px 20px;
    margin: 40px 0 0 0;
    font-size: 14px;
    line-height: 95px;
    color: #808080;
    text-align: center;
    background: #fafafa;
}

.m-detail-main-onlyOne .m-detail-main-one-codes table {
    text-align: left;
    line-height: normal;
}

.m-detail-main-onlyOne .m-detail-main-one-codes th {
    width: 70px;
}

.m-detail-main-onlyOne .m-detail-main-one-codes tbody th {
    vertical-align: top;
}

.m-detail-main-onlyOne .m-detail-main-one-codes tbody td {
    line-height: 24px;
}

.m-detail-main-onlyOne .m-detail-main-one-codes strong {
    color: #db3652;
}

.m-detail-main-onlyOne .m-detail-main-one-codes .code {
    width: 70px;
    text-align: left;
}

.m-detail-main-onlyOne .m-detail-main-limit {
    top: 22px;
}

.m-detail-main-onlyOne .m-detail-main-one-progress {
    _position: absolute;
    _top: 50px;
    _left: 0;
}

.m-detail-main-onlyOne .m-detail-main-one-intro {
    _padding-top: 50px;
}

.m-detail-main-onlyOne .m-detail-main-one-count {
    _position: absolute;
    _top: 90px;
    _left: 0;
}

.m-detail-main-onlyOne .m-detail-main-one-operation {
    _padding-top: 120px;
    position: relative;
}

.m-detail-main-onlyOne .m-detail-main-one-buy {
}

.m-detail-main-onlyOne .m-detail-main-one-cart {
    _position: absolute;
    _top: 120px;
    _left: 200px;
}
.list-join{
    overflow: hidden;
    overflow-y: auto;
    display: inline-block;
    height: 85px;
    width:600px;
    word-break: break-all;
}

.lj-num>span,.li-numlist>span{
    float: left;
    width:100px;
    line-height: 24px;
}
.lj-num>label{
    float: left;
    width:560px;
    line-height: 24px;
    text-align: left;
}
.li-numlist>div{
    float:left;
    width:560px;
    height: 72px;
    overflow: hidden;
    overflow-y: scroll;
}
.li-numlist>div>label{
    float: left;
    line-height: 24px;
}
.li-numlist>div>label>span{
    margin-right:10px;
}


