
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>用户姓名</th>
        <th>手机</th>
        <th>余额</th>
        <th>积分</th>
        <th>用户状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name='users_list' id='vo'}
    <tr>
        <td>{$vo.id|default=''}</td>
        <td>{$vo.username|default=''}</td>
        <td>{$vo.real_name|default='--'}</td>
        <td>{$vo.phone|default='--'}</td>
        <td>{$vo.money|default='--'}</td>
        <td>{$vo.score|default='--'}</td>
        <td> {notempty name='vo.status'}
            {switch name='vo.status'}
            {case value='1'}<span class="label label-success">正常</span>{/case}
            {case value='-2'}<span class="label label-success">禁用</span>{/case}
            {default/}--
            {/switch}
            {/notempty}</td>
        <td>
            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                <a target="_blank" href="{:U('users/exec',array('type'=>'see','id'=>$vo['id']))}" class="btn btn-xs btn-success" title="查看">
                    <i class="icon-eye-open bigger-120"></i>
                </a>
                <a target="_blank" href="{:U('users/exec',array('id'=>$vo['id'],'type'=>'edit'))}" class="btn btn-xs btn-info" title="编辑">
                    <i class="icon-edit bigger-120"></i>
                </a>
                <a href="javascript:" data-id="{$vo.id|default=''}" class="btn btn-xs btn-danger del_btn" title="删除">
                    <i class="icon-trash bigger-120"></i>
                </a>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div class="page">
    {$pages|default=''}
</div>


