<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="renderer" content="webkit">
    <link href="__common__/admin//css/account/common.css" rel="stylesheet">
    <link href="__common__/admin/css/account/login.css" rel="stylesheet">
    <title>首页</title>
</head>
<body>
<div class="header">
    <div class="nav">
        <div class="head-cap">
            <a class="logo" href="http://www.mengdie.com/index.html">
            </a>
            <span>
                <b>互联网创新模式与技术服务解决方案提供商</b><br>
                TCECHNICAL SERVICE SOLUTIONS PROVIDER
            </span>
        </div>
        <a class="page_link" href="http://www.mengdie.com/index.html" target="_blank">梦蝶首页</a>
    </div>
</div>
<div class="body">
    <div class="center-cell">
        <div class="login-con">
            <div class="lgn-link">
                <h4></h4>
                <a href="http://www.mengdie.com/product.html" target="_blank">查看详情</a>
            </div>
            <form id="form_content" autocomplete="off">
                <div class="logo-form">

                    <h2></h2>
                    <div class="lgn-f-l">
                        <span class="icon username"></span>
                        <input placeholder="请输入用户名" name="username" value="">
                    </div>
                    <div class="lgn-f-l">
                        <span class="icon password"></span>
                        <input placeholder="请输入密码" type="password" name="password">
                    </div>
                    <div class="lgn-f-l v-code">
                        <input class="v-code" placeholder="验证码" name="verify">
                        <img class="val-img verify_img" src="{:U('account/verify')}" onclick="this.src='{:U('account/verify')}?&amp;time='+Math.random();" style="cursor: pointer;" title="点击获取">
                    </div>
                    <input class="lgn-submit submit_btn" type="button" value="登录">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="foot">
    <div class="ft-con">
        <p>
            企业QQ：800133338&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：yyg@mengdie.com&nbsp;&nbsp;&nbsp;&nbsp;苏ICP备16018502号-4<br>
            400电话：400-188-3321&nbsp;&nbsp;&nbsp;&nbsp;业务经理：132-9103-5002(毕经理)&nbsp;&nbsp;&nbsp;&nbsp;（售前咨询：8:00～24:00）
        </p>
    </div>
</div>
{include file="base/common_js" /}

{js href='__common__/admin/js/account/index.js' /}
<script>
    var wh = $(window).height();
    if (wh >= 500) {
        $(".body").height(wh - $(".header").height() - $(".foot").height());
    }

</script>
<input type="hidden" id="root_url" value="{:U('index/index')}">
<input type="hidden" id="submit_url" value="{:U('login_do')}">
</body>
</html>