<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="1元夺宝，就是指只需1元就有机会获得一件商品，好玩有趣，不容错过。">
    <meta name="keywords" content="1元,一元,1元夺宝,1元购,1元购物,1元云购,香肠一元购,一元购,一元购物,一元云购,夺宝奇兵">
    <title>1元夺宝 - 一个收获惊喜的网站</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/register.css">
    <script type="text/javascript" charset="utf-8"  src="../../js/jquery.min.js"></script>
</head>

<body>

    <div class="g-header" >
        <div class="m-toolbar" >
            <div class="g-wrap f-clear">
                <div class="m-toolbar-l">
                    <span class="m-toolbar-welcome">欢迎来到香肠一元购！</span>
                </div>
                <ul class="m-toolbar-r">
                    <li class="m-toolbar-login">
                        <div id="pro-view-6"><a class="m-toolbar-login-btn" href="javascript:void(0)">请登录</a>
                            <a href="#" target="_blank">免费注册</a></div></li>
                    <li class="m-toolbar-myDuobao">
                        <a class="m-toolbar-myDuobao-btn" href="#">我的夺宝 <i class="ico ico-arrow-gray-s ico-arrow-gray-s-down"></i></a>
                        <ul class="m-toolbar-myDuobao-menu">
                            <li><a href="#">夺宝记录</a></li>
                            <li class="m-toolbar-myDuobao-menu-win"><a href="#">幸运记录</a></li>
                            <li class="m-toolbar-myDuobao-menu-mall"><a href="#">购买记录</a></li>
                            <li class="m-toolbar-myDuobao-menu-gems"><a href="#">我的宝石</a></li>
                            <li><a href="#">账户充值</a></li>
                        </ul>
                    </li>
                    <li class="m-toolbar-myBonus"><a href="#">我的红包</a><var>|</var></li>
                    <li><a href="#" target="_blank">
                        <img width="16" height="13" style="float:left;margin:8px 3px 0 0;" src="../../img/icon_weibo_s.png">官方微博</a>
                        <var>|</var>
                    </li>
                    <li><a href="#">官方交流群</a></li>
                </ul>
            </div>
        </div>
        <div class="m-header">
            <div class="g-wrap f-clear">
                <div class="m-header-logo">
                    <h1><a class="m-header-logo-link" href="#">香肠一元购</a></h1>
                    <div class="m-header-slogan">
                        <a class="m-header-slogan-link" href="#" target="_blank"><img src="../../img/logo_banner_v3.png"></a>
                    </div>
                </div>

                <div class="w-miniCart" >
                    <a class="w-miniCart-btn" href="javascript:void(0);" data-pro="btn">
                        <i class="ico ico-miniCart"></i>清 单<b class="w-miniCart-count" id="pro-view-15">
                        <i class="ico ico-arrow-white-solid ico-arrow-white-solid-l"></i>0</b></a>
                </div>

                <div class="w-search" module="searchbar/SearchBar" id="pro-view-2" module-id="module-3" module-launched="true">
                    <div method="get" name="searchForm" id="searchForm" class="w-search-form f-clear">
                        <div class="w-input" id="pro-view-3"><input class="w-input-input" pro="input" type="text" placeholder="请输入要搜索的商品"></div>
                        <a class="w-search-btn" href="javascript:void(0)"><i class="ico ico-search"></i></a>
                    </div>
                    <div class="w-search-recKeyWrap">
                        <a class="w-search-recKey" pro="shortcut" href="javascript:void(0);">苹果</a><a class="w-search-recKey" pro="shortcut" href="javascript:void(0);">手机</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register">
        <div class="reg-main">
            <ul class="step">
                <li class="active">
                    <i class="iconfont">&#xe609;</i>
                    填写基本信息
                    <span></span>
                </li>
                <li class="active">
                    <i class="iconfont">&#xe60a;</i>
                    恭喜,注册成功!
                    <span></span>
                </li>
            </ul>
            <div class="reg_form"><!--form-->
                <div class="reg_input">
                    <label>手机号</label>
                    <div class="inputgroup">
                        <input placeholder="请输入手机号">
                    </div>
                </div>
                <div class="reg_input">
                    <label>验证码</label>
                    <div class="inputgroup">
                        <input placeholder="请输入验证码">
                        <a class="vacode">获取激活码</a>
                    </div>
                </div>
                <div class="reg_input">
                    <label>密&nbsp;码</label>
                    <div class="inputgroup">
                        <input placeholder="请输入密码">
                    </div>
                </div>
                <div class="reg_input">
                    <label>确认密码</label>
                    <div class="inputgroup">
                        <input placeholder="确认密码">
                    </div>
                </div>
                <div class="reg_input">
                    <label>确&nbsp;认</label>
                    <div class="valinput">
                        <--改为图形验证码-->
                    </div>
                </div>
                <div class="ensure">
                    <input type="checkbox" id="ebsure"><label for="ebsure">我同意<a href="">&lt;&lt;香肠一元购用户协议&gt;&gt;</a></label>
                </div>
                <input value="立即注册" class="reg_btn" type="button">
            </div>
        </div>
    </div>

    <div class="g-footer">
        <div class="m-copyright">
            <div class="g-wrap">
                <div class="m-copyright-logo">
                    <a href="#" target="_blank"><img width="130" src="../../img/netease_logo-m.gif"></a>
                    <a href="#" target="_blank"><img width="117" src="../../img/yy_logo.gif"></a>
                </div>
                <div class="m-copyright-txt">
                    <p>杭州妙得科技有限公司版权所有 © 1997-2016 ICP证浙B2-20160106</p>
                    <p><a href="" target="_blank">关于我们</a>
                        <a href="" target="_blank">关于合作</a>
                        <a href="" target="_blank">官方博客</a>
                        <a href="" target="_blank">客户服务</a>
                        <a href="" target="_blank">隐私政策</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" charset="utf-8"  src="../../js/form_tip.js"></script>
<script type="text/javascript" charset="utf-8"  src="../../js/register.js"></script>
</body>
</html>